<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiprompt.sharing.mapper.PromptMapper">
    <select id="getPromptVOList" resultType="com.aiprompt.sharing.vo.PromptVO">
        select * from prompt
    </select>
    <select id="getFavoritePromptVOList" resultType="com.aiprompt.sharing.vo.PromptVO">
        select * from prompt
    </select>
    <select id="getPromptVOById" resultType="com.aiprompt.sharing.vo.PromptVO">
        select * from prompt where id = #{promptId}
    </select>
</mapper>